/*.login-style{*/
/*  width: 310px;*/
/*  margin: 30px auto;*/
/*}*/

/*.login-btn-style{*/
/*  float: right;*/
/*}*/

/*.card-style{*/
/*  margin:30px;*/
/*  margin-top: 5%;*/
/*  margin-right: 30%;*/
/*  margin-left: 30%;*/
/*}*/

/*.img{*/
/*  height: 100px;*/
/*  weight:100px;*/
/*  margin: 30px;*/
/*  margin-left: 76px;*/
/*}*/

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.img {
  height: 300%;
}
.main{
  margin-top: 18px;
}

.copyright{
  margin-top: 29px;
}

.copyright-p{
  margin-left: 420px;
}
